<h1>Listing Orders</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Quantity</th>
      <th>Order type</th>
      <th>Status</th>
      <th>Game</th>
      <th>Receipt</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.ticker %></td>
        <td><%= order.quantity %></td>
        <td><%= order.order_type %></td>
        <td><%= order.status %></td>
        <td><%= order.game.name %></td>
        <td><%= link_to 'View', order %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Order', new_order_path, class: "btn btn-primary" %>
