<p>
  <strong>Ticker:</strong>
  <%= @order.ticker %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Order type:</strong>
  <%= @order.order_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Game:</strong>
  <%= @order.game.name %>
</p>
<%= link_to 'Add an Alert | ', new_alert_path(order_id: @order.id) %>
<%= link_to 'Back', orders_path %>
<p>
   <%= image_tag @order.receipt.url %>
</p>
